<!DOCTYPE html>
<html lang="en">
  <%- include("head.ejs", { title }) %>
  <body>
    <%- include("navbar.ejs") %>

    <style>
      .signin-btn {
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        width: 380px;
        padding: 10px 20px;
        font-size: 1.2rem;
        font-weight: 400;
        font-family: "Sen", -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        text-transform: uppercase;
        line-height: 2rem;
        text-decoration: none;
        background: #fff;
        border-radius: 2px;
        color: #333;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 7px 0px 0px #9a9a9a;
        -webkit-box-shadow: 0px 7px 0px 0px #9a9a9a;
        -moz-box-shadow: 0px 7px 0px 0px #9a9a9a;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
      }

      .signin-btn:focus {
        transform: translateY(7px);
        box-shadow: none;
      }

      .signin-btn img {
        height: 2rem;
        width: auto;
        margin-right: 10px;
      }

      h1 {
        font-size: 2rem;
      }

      ul {
        margin-top: 30px;
        max-width: 500px;
        list-style-type: none;
      }

      ul li {
        margin: 10px 0;
        text-align: justify;
        font-size: 1.1rem;
      }

      @media screen and (max-width: 450px) {
        h1 {
          font-size: 1.4rem;
        }

        .signin-btn img {
          height: 1.5rem;
        }

        .signin-btn {
          line-height: 1.5rem;
          font-size: 0.8rem;
          width: 280px;
        }
      }
      @media screen and (max-width: 350px) {
        h1 {
          font-size: 1.3rem;
        }
      }
    </style>

  <div class="body-container" style="min-height: calc(100vh - 180px);display: flex; flex-direction: column; justify-content: center; align-items: center; ">
        <div>
          <div
              style="width: 100%; color: white; font-weight: bold; text-align: center; margin-bottom: 20px; font-size: 32px;"
              id="countdown"
            >
              <span id="hours">00</span><span style="font-size: 12px">HOURS</span> <span class="hidden sm:inline-block">:</span>
              <span id="minutes">00</span><span style="font-size: 12px">MINUTES</span> <span class="hidden sm:inline-block">:</span>
              <span id="seconds">00</span><span style="font-size: 12px">SECONDS</span>
          </div>
        </div>
      <div class="flex-container" style="min-height: 100% !important;">
        <div>
          <div style="margin: 40px 0">
            <a href="//exun.co/22/intrasudo/rules" class="signin-btn">
              Rules and Announcements</a
            >
          </div>
          <div style="margin: 40px 0">
            <a href="//exun.co/22/intrasudo/hints" class="signin-btn">
              Hints</a
            >
          </div>
          <% if(!authenticated) { %>
          <div style="margin: 40px 0">
            <!-- <h1 style="text-align: center">Sign in to start playing</h1> -->
            <a href="/auth/google" class="signin-btn">
              <img src="/dpsrkp192.png" alt="DPSRKP" />
              Sign in with @dpsrkp.net</a
            >
          </div>
          <% }%>
        </div>
      </div>
    </div>

    <%- include("footer.ejs") %>
    <script>
      const fmt = (n) => String(Math.floor(n)).padStart(2, "0")
      setInterval(() => {
        const diff = (Date.parse("15 June 2022 09:00:00") - Date.now()) / 1000;
        const hours = fmt((diff / (60 * 60)) % 24);
        const minutes = fmt((diff / 60) % 60);
        const seconds = fmt(diff % 60);
        document.querySelector("#hours").innerText = hours;
        document.querySelector("#minutes").innerText = minutes;
        document.querySelector("#seconds").innerText = seconds;
      }, 1000)
    </script>
  </body>
</html>
